<nav class="w-full shadow-lg backdrop-blur bg-transparent mb-8">
    <div class="flex flex-row container max-w-[120ch] w-[90vw] m-auto py-2">
        <div>
            <a href="/" class="hover:text-[#82f9a1] flex flex-row gap-4">
                <img src="./logogram.svg" alt="logogram" class="h-8">
                <span class="text-2xl m-auto">Pedro Bentes</span>
            </a>
        </div>
        
        <ul class="flex flex-row ml-auto gap-8">
            {{ range.Site.Menus.main.ByWeight }}{{ $base := path.Base .URL }}
            <li class="my-auto">
                <a href="{{ .URL }}" class="my-auto">
                    <span class="my-auto text-lg menuname">{{ .Name }}</span>
                </a>
            </li>
            {{- end }}
        </ul>
    </div>
</nav>
